<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-lang="student">Student Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-warning navbar-warning">
    <div>
        <a class="navbar-brand" data-lang="student" th:href="@{/students}">Student Management</a>
        <a class="navbar-brand" data-lang="teacher" th:href="@{/users}">Teacher Management</a>
    </div>

    <div class="ml-auto">
        <span th:if="${name != null}" th:text="'Welcome, ' + ${name}"></span>
        <button id="btn-lang-en"
                class="btn btn-info" onclick="changeLanguage('en')">English</button>
        <button id="btn-lang-ja"
                class="btn btn-info" onclick="changeLanguage('ja')">日本語</button>
        <a th:href="@{/logout}" data-lang="logout-btn" class="btn btn-danger">Log out</a>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center" data-lang="Create New Student"> Create New Student </h1>
            <div class="card-body">
                <form th:action="@{/students}" th:object="${student}" method="POST"  onsubmit="return validateForm();">
                    <div class="form-group">
                        <label > ID </label>
                        <input
                                data-lang="id_placeholder"
                                type="text"
                                name="id"
                                id="idInput"
                                th:field="*{id}"
                                class="form-control"
                                placeholder="Enter ID"
                        />
                        <small id="idError" class="text-danger" data-lang="id_error"></small>
                    </div>

                    <div class="form-group">
                        <label data-lang="Name"> Name </label>
                        <input
                                data-lang="name_placeholder"
                                type="text"
                                name="name"
                                th:field="*{name}"
                                class="form-control"
                                placeholder="Enter Name"
                        />
                        <small id="nameError" class="text-danger" data-lang="name_error"></small>
                    </div>

                    <div class="form-group">
                        <label data-lang="Email"> Email </label>
                        <input
                                data-lang="email_placeholder"
                                type="text"
                                name="email"
                                th:field="*{email}"
                                class="form-control"
                                placeholder="Enter Email"
                        />
                        <small id="emailError" class="text-danger" data-lang="emai_error"></small>
                    </div>

                    <div class="form-group">
                        <label data-lang="Address"> Address </label>
                        <input
                                data-lang="address_placeholder"
                                type="text"
                                name="address"
                                th:field="*{address}"
                                class="form-control"
                                placeholder="Enter Address"
                        />
                        <small id="addressError" class="text-danger" data-lang="address_error"></small>
                    </div>

                    <div class="form-group">
                        <label data-lang="Phone"> Phone </label>
                        <input
                                data-lang="phone_placeholder"
                                type="text"
                                name="phone"
                                id="phoneInput"
                                th:field="*{phone}"
                                class="form-control"
                                placeholder="Enter Phone"
                        />
                        <small id="phoneError" class="text-danger" data-lang="phone_error"></small>
                    </div>

                    <div class="box-footer">
                        <button type="submit"
                                data-lang="Submit"
                                class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/script.js"></script>
<script>
    function validateNonEmpty(fieldName, errorId) {
    var input = document.getElementsByName(fieldName)[0];
    var error = document.getElementById(errorId);

    if (input.value.trim() === '') {
        error.innerHTML = 'Please enter ' + fieldName.charAt(0).toUpperCase() + fieldName.slice(1) + '.';
        return false;
    } else {
        error.innerHTML = '';
        return true;
    }
}


    function validateForm() {
        var isIdValid = validateId();
        var isNameValid = validateNonEmpty('name', 'nameError');
        var isEmailValid = validateNonEmpty('email', 'emailError');
        var isAddressValid = validateNonEmpty('address', 'addressError');
        var isPhoneValid = validatePhone();

        return isIdValid && isNameValid && isEmailValid && isAddressValid && isPhoneValid;
    }

    function validateNonEmpty(fieldName, errorId) {
        var input = document.getElementsByName(fieldName)[0];
        var error = document.getElementById(errorId);

        if (input.value.trim() === '') {
            error.innerHTML = 'Please enter ' + fieldName.charAt(0).toUpperCase() + fieldName.slice(1) + '.';
            return false;
        } else {
            error.innerHTML = '';
            return true;
        }
    }

    function validateId() {
        var idInput = document.getElementById('idInput');
        var idError = document.getElementById('idError');

        if (!/^\d+$/.test(idInput.value)) {
            idError.innerHTML = 'Please only enter numbers in the ID.';
            idInput.value = '';
            return false;
        } else {
            idError.innerHTML = '';
            return true;
        }
    }

    function validatePhone() {
        var phoneInput = document.getElementById('phoneInput');
        var phoneError = document.getElementById('phoneError');

        if (!/^\d+$/.test(phoneInput.value)) {
            phoneError.innerHTML = 'Please only enter numbers in the Phone.';
            phoneInput.value = '';
            return false;
        } else {
            phoneError.innerHTML = '';
            return true;
        }
    }
</script>

</body>

</html>
