<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-lang="student">Student Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md bg-warning navbar-warning">
    <div>
        <a class="navbar-brand" data-lang="student" href="#">Student Management</a>
        <a class="navbar-brand" data-lang="teacher" th:href="@{/users}">Teacher Management</a>
    </div>

    <div class="ml-auto">
        <span th:if="${name != null}" th:text="'Welcome, ' + ${name}"></span>
        <button id="btn-lang-en"
                class="btn btn-info" onclick="changeLanguage('en')">English</button>
        <button id="btn-lang-ja"
                class="btn btn-info" onclick="changeLanguage('ja')">日本語</button>
        <a th:href="@{/logout}" data-lang="logout-btn" class="btn btn-danger">Log out</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1 data-lang="List Students">List Students</h1>
    </div>

    <div class="container d-flex justify-content-between">
        <!-- Nút thêm học sinh -->
        <div class="row">
            <div class="col-lg-2">
                <a th:href="@{/students/new}"
                   data-lang="Add Student"
                   class="btn btn-primary btn-sm mb-3">Add Student</a>
            </div>
        </div>

        <!-- Form tìm kiếm -->
        <div class="row">
            <div class="col-lg-8">
                <form th:action="@{/students/search}" method="get" id="searchForm">
                    <input type="text"
                           data-lang="Enter keyword"
                           name="keyword"
                           class="form-control"
                           placeholder="Enter keyword"/>
                </form>
            </div>
            <div class="col-lg-4">
                <button type="button"
                        data-lang="Search"
                        class="btn btn-primary btn-block"
                        onclick="submitForm()">Search</button>
            </div>
        </div>
    </div>

    <!-- Bảng hiển thị danh sách học sinh -->
    <table class="table table-striped table-bordered">
        <thead class="table-warning">
        <tr>
            <th data-lang="Id">Id</th>
            <th data-lang="Name">Name</th>
            <th data-lang="Email">Email</th>
            <th data-lang="Address">Address</th>
            <th data-lang="Phone">Phone</th>
            <th data-lang="Actions">Actions</th>
        </tr>
        </thead>

        <tbody>
        <!-- Sử dụng th:if để kiểm tra xem danh sách có rỗng hay không -->
        <tr th:each="student : ${students}" th:if="${not #lists.isEmpty(students)}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.phone}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.id})}"
                   data-lang="Update"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/students/{id}(id=${student.id})}"
                   data-lang="Delete"
                   class="btn btn-danger btn-delete">Delete</a>
            </td>
        </tr>
        <!-- Hiển thị thông báo nếu danh sách rỗng -->
        <tr th:if="${#lists.isEmpty(students)}">
            <td colspan="6" data-lang="noti">No students found</td>
        </tr>
        </tbody>
    </table>

    <!-- Phân trang -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   th:if="${currentPage > 1}"
                   th:href="@{'?pageNo='+${currentPage-1}}"> < </a>
            </li>

            <li th:each="i:${#numbers.sequence(1,totalPages)}"
                th:classappend="${currentPage == i ? 'active' : '' }"

                class="page-item">
                <a th:href="@{'?pageNo='+${i}}"
                   class="page-link" href="#" th:text="${i}"></a>
            </li>

            <li class="page-item">
                <a class="page-link"
                   th:if="${currentPage < totalPages}"
                   th:href="@{'?pageNo='+${currentPage + 1}}"> > </a>
            </li>
        </ul>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/script.js"></script>
<script>

</script>
</body>
</html>
