<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md bg-warning navbar-warning">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">

            </li>
            <li class="nav-item">

            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h1>List Students</h1>
    </div>

    <div class="container d-flex justify-content-between">

        <!-- Nút thêm học sinh -->
        <div class="row ">
            <div class="col-lg-2">
                <a th:href="@{/students/new}" class="btn btn-primary btn-sm mb-3">Add Student</a>
            </div>
        </div>

        <!-- Form tìm kiếm -->
        <div class="row">
            <div class="col-lg-8">
                <form th:action="@{/students/search}" method="get" id="searchForm">
                    <input type="text" name="keyword" class="form-control" placeholder="Enter keyword"/>
                </form>
            </div>
            <div class="col-lg-4">
                <button type="button" class="btn btn-primary btn-block" onclick="submitForm()">Search</button>
            </div>
        </div>

    </div>

    <!-- Bảng hiển thị danh sách học sinh -->
    <table class="table table-striped table-bordered">
        <thead class="table-warning">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        <!-- Sử dụng th:if để kiểm tra xem danh sách có rỗng hay không -->
        <tr th:each="student : ${students}" th:if="${not #lists.isEmpty(students)}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.address}"></td>
            <td th:text="${student.phone}"></td>
            <td>
                <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/students/{id}(id=${student.id})}" class="btn btn-danger btn-delete">Delete</a>
            </td>
        </tr>
        <!-- Hiển thị thông báo nếu danh sách rỗng -->
        <tr th:if="${#lists.isEmpty(students)}">
            <td colspan="6">No students found</td>
        </tr>
        </tbody>

    </table>
</div>

<script>
    function submitForm() {
        document.getElementById("searchForm").submit();
    }


    var btnDeleteList = document.querySelectorAll('.btn-delete');

// Lặp qua từng phần tử để thêm sự kiện
btnDeleteList.forEach(function(btnDelete) {
    btnDelete.addEventListener('click', function(event) {
        // Sử dụng biến flag để theo dõi xác nhận của người dùng
        var userConfirmed = false;

        // Sử dụng SweetAlert thay vì hộp thoại xác nhận mặc định
        swal({
            title: "Do you want to delete?",
            icon: "warning",
            buttons: ["Cancel", "OK"],
            dangerMode: true,
        })
        .then((userConfirmation) => {
            userConfirmed = userConfirmation; // Lưu trạng thái xác nhận của người dùng

            if (userConfirmed) {
                // Người dùng nhấp OK
                var studentId = this.getAttribute('href').match(/\/students\/(\d+)/)[1];

                // Chuyển hướng đến URL xóa với ID sinh viên
                window.location.href = '/students/' + studentId;
            } else {
                // Người dùng nhấp Cancel
                //alert('Canceled deletion.')
                // Ngăn chặn hành vi mặc định của sự kiện click
                event.preventDefault();
            }
        });

        // Ngăn chặn hành vi mặc định của sự kiện click nếu người dùng chưa xác nhận
        if (!userConfirmed) {
            event.preventDefault();
        }
    });
});



</script>

</body>
</html>
